<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="cuentas">
      <ion-icon name="key-outline"></ion-icon>
      <ion-label>Cuentas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="transferencias">
      <ion-icon name="wallet-outline"></ion-icon>
      <ion-label>Transferencias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
