<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuentas</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>AHORROS PARA NAVIDAD</ion-card-subtitle>
      <ion-card-title>0123218784654</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Saldo disponible 120 $
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>AHORROS DE EMERGENCIA</ion-card-subtitle>
      <ion-card-title>21218651793</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Saldo disponible 400 $
    </ion-card-content>
  </ion-card>



</ion-content>
