<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Cuentas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cuentas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let account of Accounts" class="account-list">
      <ion-card-header>
        <ion-card-subtitle>{{account.nomCuenta}}</ion-card-subtitle>
        <ion-card-title>{{account.numCuenta}}</ion-card-title>
        <ion-card-title>
          El saldo disponible es de: {{account.saldoDisponible}} $
        </ion-card-title>

      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
   </ion-card>


</ion-content>
