<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Perfil </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-header>
    <ion-card-subtitle>Su Perfil</ion-card-subtitle>
    <ion-card-title>Fernando Cutire</ion-card-title>
    <ion-card-content>
      Estudiante de Ingeniería en Sistemas de Información.
    </ion-card-content>
    <ion-item>
      <ion-icon name="logo-linkedin" slot="start"></ion-icon>
      <ion-label> Linkedln: Fernando Cutire</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-twitter" slot="start"></ion-icon>
      <ion-label> Twitter: @fernandocutire</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label> Correo: fernandocutire@gmail.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-github" slot="start"></ion-icon>
      <ion-label> Github: https://github.com/FernandoCutire</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> Proyectos: portfolio.fernandocutire.com</ion-label>
    </ion-item>
  </ion-card-header>

  <ion-card-header>
  <ion-card-title>Tus últimos movimientos</ion-card-title>
  <ion-card *ngFor="let transaction of Transactions" class="transaction-list">
    <ion-card-header>
      <ion-card-subtitle>Cuenta Origen: {{transaction.cuentaOrigen}}</ion-card-subtitle>
      <ion-card-title>Cuenta Destino: {{transaction.cuentaDestino}}</ion-card-title>
      <ion-card-title>
        Monto {{transaction.monto}} $
      </ion-card-title>
    </ion-card-header>

  </ion-card>
  </ion-card-header>

</ion-content>
